<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <%= link_to "tutorial", root_path %>
            <nav class="nav navbar-nav navbar-right">
                <ul>
                    <li><%= link_to "home",root_path %></li>
                    <li><%= link_to "about",about_path %></li>
                    <li><%= link_to "log in", "#" %></li>
                </ul>
            </nav>
    </div>
</header>